.aboutContainer {
	display: flex;
	max-width: 1280px;
	margin: 0 auto;
}

.titleSmallScreen {
	display: none;
}

.aboutImage {
	width: 50dvw;
	max-width: 640px;
	height: 100dvh;
	object-fit: cover;
	border-radius: 2rem 0 0 0;
	box-shadow: -10px 1px 8px rgba(0, 0, 0, 0.5);
}

.textContainer {
	display: flex;
	flex-direction: column;
}

.title {
	color: #10316b;
	font-size: 4rem;
	font-weight: 700;
	font-family: sans-serif;
	padding: 1rem 3rem;
	text-transform: uppercase;
}

.description {
	background: linear-gradient(90deg, #10316b, #033b9c);
	color: white;
	padding: 1rem 3rem;
	font-size: 2.4rem;
	font-family: 'Inter', sans-serif;
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;
}

.breadText {
	padding: 2rem;
	font-size: 1.8vw;
	font-family: 'Inter';
	font-weight: 500;
}

@media screen and (min-width: 1280px) {
	.aboutImage {
		border-radius: 2rem 2rem 0 0;
	}

	.description {
		border-radius: 2rem 0 0 2rem;
	}
}

@media screen and (max-width: 600px) {
	.aboutContainer {
		flex-direction: column-reverse;
		align-items: center;
	}

	.aboutImage {
		width: 80%;
		border-radius: 2rem;
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
	}

	.title {
		display: none;
	}

	.titleSmallScreen {
		display: contents;
		color: #10316b;
		font-size: 4rem;
		font-weight: 700;
		font-family: 'Inter', sans-serif;
		padding: 1rem 3rem;
		text-transform: uppercase;
	}

	.breadText {
		font-size: 1.2rem;
	}
}
